body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}
.charactersContainer {
  display: flex;
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.charactersPage {
  padding: 20px;
  margin-top: 30px;
  .searchBar {
    display: flex;
    justify-content: center;
    input {
      width: 40%;
      padding: 15px 25px;
      font-size: 18px;
      border-radius: 50px;
      border: 5px solid #2f9331;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }
  }
}

.characterDetails {
  padding: 20px;
  h1 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-left: 5px;
    color: #2f9331;
  }
  img {
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 12px solid #dbdbdb;
  }
}

.flexContainer {
  display: flex;
  gap: 20px;
}

.status {
  font-weight: 600;
  font-size: 20px;
  .Alive {
    color: green;
  }
  .Dead {
    color: red;
  }
}

.info {
  font-size: 18px;
  font-weight: 500;
  margin-top: 4px;
  margin-left: 5px;
}

.pagination {
  display: flex;
  padding: 0px 100px;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  button {
    padding: 15px 25px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    background-color: #2f9331;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}
.notFound {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  height: 50vh;
  font-size: 24px;
}
